<div class="card card-custom">
    <div class="card-body">
        <div class="d-flex align-items-center justify-content-between flex-grow-1">
            <span class="symbol symbol-circle symbol-50 symbol-light-danger">
                <span class="symbol-label">
                    <ion-icon class="svg-icon svg-icon-lg svg-icon-danger" name="log-out-outline">
                    </ion-icon>
                </span>
            </span>
            <div class="d-flex flex-row justify-content-between w-100 pl-4 pr-3">
                <span [translate]="'SettingsPage.LogoutOfBlaBlaBla'" [translateParams]="{Username: username}"
                    class="text-dark-75 fw-bold">
                </span>
            </div>
        </div>
    </div>
</div>