//
// Spacers
//

@mixin m($spacer) {
	margin: bsize($spacer) !important;
}

@mixin mt($spacer) {
	margin-top: bsize($spacer) !important;
}

@mixin mb($spacer) {
	margin-bottom: bsize($spacer) !important;
}

@mixin ml($spacer) {
	margin-left: bsize($spacer) !important;
}

@mixin mr($spacer) {
	margin-right: bsize($spacer) !important;
}

@mixin p($spacer) {
	padding: bsize($spacer) !important;
}

@mixin pt($spacer) {
	padding-top: bsize($spacer) !important;
}

@mixin pb($spacer) {
	padding-bottom: bsize($spacer) !important;
}

@mixin pl($spacer) {
	padding-left: bsize($spacer) !important;
}

@mixin pr($spacer) {
	padding-right: bsize($spacer) !important;
}

@mixin mx($spacer) {
	@include ml($spacer);
	@include mr($spacer);
}

@mixin my($spacer) {
	@include mt($spacer);
	@include mb($spacer);
}

@mixin px($spacer) {
	@include pl($spacer);
	@include pr($spacer);
}

@mixin py($spacer) {
	@include pt($spacer);
	@include pb($spacer);
}